* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f8f4ea;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about, .projects, .contact {
    width: 70%;
    padding-top: 100px;

}

.fade-in {
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade-in.show {
    opacity: 1;
}

.name {
    width: 70%;
    height: 100vh;
}

ul {
    list-style: none;
}
.nav-bar {
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    background-color: #f8f4ea;
}

.nav-links {
    display: flex;
}

a {
    text-decoration: none;
    color: black;

}

.nav-item:hover {
    background-color: #dcd1bb;
}

.nav-bar .nav-item {
    padding: 20px;
    font-size: 2.5vh;
}

h1 {
    font-size: 15vh;
    margin-top: 150px;
}

h2 {
    font-size: 7vh;
    margin-bottom: 20px;
}

.name p {
    margin-top: 30px;
    font-size: 8vh;

}

.links {
    position: fixed;
    left: 10px;
    top: 100px;
}

.links a {
    color: black;
    padding: 20px;
    font-size: 3.0vh;
}

.links li {
    padding: 5px 0px 5px 0px;
}

#headshot {
    float: right;
    border-radius: 50%;
    margin-left: 5px;
    max-width: 40vh;
    width: 100%;
    height: auto;
}

.about p {
    font-size: 3vh;
    line-height: 30px;
}

button {

    background-color: #f8f4ea;
    font-size: 2.5vh;
    border-radius: 12px;
    padding: 10px;
}

.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.project-list img {
    width: 100%;
    height: auto;
    max-width: 40vh;
    border: 3px solid black;
}

.small-text {
    font-size: 2.3vh;
}

footer {
    padding: 30px;
    text-align: center;
}
